<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!-- HEAD -->

<head th:replace="template/plantilla :: head"></head>
<link rel="stylesheet" th:href="@{/css/crearEspacios.css}">
<link rel="stylesheet" th:href="@{/css/plantilla.css}">
<title>UNLa - Crear Espacios</title>
<meta charset="utf-8" />
<!-- HEAD -->


<body>


    <!-- NAVBAR -->
    <header th:replace="template/plantilla :: header"></header>
    <!-- NAVBAR -->


    <!-- CONTENIDO -->
    <div class="formulario">
        <form action="#" th:action="@{add}" method="get">
            <ul class="listaForm">
                <li class="linea fecha">
                    <label for="fecha_inicial"><b>Fecha inicial del cuatrimestre:</b></label>
                    <input class="inputFecha" type="date" name="fecha_inicial" id="fecha_inicial">
                </li>
                <li class="linea fecha">
                    <label for="fecha_final"><b>Fecha final del cuatrimestre:</b></label>
                    <input class="inputFecha" type="date" name="fecha_final" id="fecha_final">
                </li>
                <li class="linea"><input type="submit" class="botonEnviar"></li>
            </ul>
        </form>
    </div>

    <div th:if="${espaciosAgregados}">
        <p class="textoExito"><b>Espacios agregados con exito</b></p>
    </div>
    <!-- CONTENIDO -->


    <!-- FOOTER -->
    <footer th:replace="template/plantilla :: footer"></footer>
    <!-- FOOTER -->


    <!-- BOOSTRAP CORE JS -->
    <div th:replace="template/plantilla :: scripts"></div>
    <!-- BOOSTRAP CORE JS -->


</body>

</html>