<!DOCTYPE html>
<html>

<!-- HEAD -->
<head >
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Unla</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/verEspacios.css}">
</head>
<!-- HEAD -->


<body>

    <!-- NAVBAR -->
    <header th:replace="template/plantilla :: header"></header>
    <!-- NAVBAR -->
    
    
	<!-- CONTENIDO -->
	<section class="cuerpo">
	    <table class="tabla" >
			<thead>
				<tr >
					<th class="tHead">Fecha</th>
					<th class="tHead">Libre</th>
					<th class="tHead">Turno</th>
					<th class="tHead">Edificio</th>
					<th class="tHead">Numro de aula</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${espacios}">
					<td class="tRow"><span class="" th:text="${e.fecha}"/></td>
					<td class="tRow">
						<span th:if="${e.libre == true}">Si</span>
    					<span th:unless="${e.libre == true}">No</span>
    				</td>
					<td class="tRow"><span class="" th:text="${e.turno}"/></td>
					<td class="tRow"><span class="" th:text="${e.aula.edificio.edificio}"/></td>
					<td class="tRow"><span class="" th:text="${e.aula.numero}"/></td>
				</tr>
			</tbody>
		</table>
		
		<div class="filtros">
			<h2>Filtros</h2>
			<form class="formulario" action="#" th:action="@{filtrarEspacios}" th:object="${filtros}" method="post">
				<ul class="listaForm">
		            <li class="linea fecha">
		                <label for="fecha_inicial"><b>Desde:</label>
		                <input class="inputFecha" type="date" th:field="*{fechaInicial}" id="fecha_inicial">
		            </li>
		            <li class="linea fecha">
		                <label for="fecha_final"><b>Hasta:</b></label>
		                <input class="inputFecha" type="date" th:field="*{fechaFinal}" id="fecha_final">
		            </li>
		            <li class="linea ">
		            	<p>Disponibilidad:</p>
		            </li>
		            <li class="linea ">
		                <label for="libre"><b>Libre:</b></label>
		                <input class="inputFecha" type="checkbox" th:field="*{libre}" th:checked="${filtros.noche}" id="libre" >
		            
		                <label for="ocupado"><b>Ocupado:</b></label>
		                <input class="inputFecha" type="checkbox" th:field="*{ocupado}" th:checked="${filtros.noche}" id="ocupado" >
		            </li>
		            <li class="linea ">
		            	<p>Turno:</p>
		            </li>
		            <li class="linea ">
		                <label for="maniana"><b>Mañana:</b></label>
		                <input class="inputFecha" type="checkbox" th:field="*{maniana}" th:checked="${filtros.noche}" id="maniana"  >
		            
		                <label for="tarde"><b>Tarde:</b></label>
		                <input class="inputFecha" type="checkbox" th:field="*{tarde}" th:checked="${filtros.noche}" id="tarde" >
		                
		                <label for="noche"><b>Noche:</b></label>
		                <input class="inputFecha" type="checkbox" th:field="*{noche}" th:checked="${filtros.noche}" id="noche" >
		            </li>
		            <li class="linea"><input type="submit" class="botonEnviar" value="Filtrar"></li>
		        </ul>
			</form>
		</div>
		
	</section>
	<!-- CONTENIDO -->
    
    
	<!-- FOOTER -->
    
    <!-- FOOTER -->


    <!-- BOOSTRAP CORE JS -->
    <div th:replace="template/plantilla :: scripts"></div>
    <!-- BOOSTRAP CORE JS -->
</body>


</html>