<!DOCTYPE html>
<html lang="en">


<!-- HEAD -->
<header th:replace="template/plantilla :: head"></header>
<!-- HEAD -->


<style>
body{
	background-color: rgb(86, 101, 115);
}
th{
	font-size: 20px;
	color: white;
}
td{
	font-size: 25px;
	color: white;
}
h2{
	margin-bottom: 30px;
}
.col-10{
	float:none;
	margin:auto; 
	text-align: 
	center; 
	margin-top: 45px;
}
</style>


<body>


    <!-- NAVBAR -->
    <header th:replace="template/plantilla :: header"></header>
    <!-- NAVBAR -->


    <!-- CONTENIDO -->
        <div class="col-10">
        
            <h2>Usuarios</h2>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>DNI</th>
                        <th>EMAIL</th>
                        <th>NOMBRE DE USUARIO</th>
                        <th>PERFIL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario:${usuarios}">
                    
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.apellido}"></td>
                        <td th:text="${usuario.dni}"></td>
                        <td th:text="${usuario.email}"></td>
                        <td th:text="${usuario.nombreUsuario}"></td>
                        <td>
                            <th:block th:each="perfil,iter:${usuario.perfil}">
                                <label th:text="${perfil.tipoPerfil}"></label>
                                <th:block th:if="${!iter.last}"></th:block>
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <!-- CONTENIDO -->


    <!-- FOOTER -->
    <footer th:replace="template/plantilla :: footer"></footer>
    <!-- FOOTER -->


    <!-- BOOSTRAP CORE JS -->
    <div th:replace="template/plantilla :: scripts"></div>
    <!-- BOOSTRAP CORE JS -->
</body>

</html>