<!DOCTYPE html>
<html lang="en">


    <!-- HEAD -->
    <header th:replace="template/plantilla :: head"></header>
    <!-- HEAD -->


<body class="d-flex flex-column h-100">


    <!-- NAVBAR -->
    <header th:replace="template/plantilla :: header"></header>
    <!-- NAVBAR -->


    <!-- CONTENIDO -->
	<a class="nav-link" th:href="@{/espacio/crear_espacios}">Crear espacios</a>
	<!-- ACA VA EL BOTON PARA VISUALIZAR LAS NOTAS PEDIDO -->
    <!-- CONTENIDO -->
    
        
    <!-- FOOTER -->
    <footer th:replace="template/plantilla :: footer"></footer>
    <!-- FOOTER -->


    <!-- BOOSTRAP CORE JS -->
    <div th:replace="template/plantilla :: scripts"></div>
    <!-- BOOSTRAP CORE JS -->
</body>
</html>