<!DOCTYPE html>
<html lang="en">


    <!-- HEAD -->
    <header th:replace="template/plantilla :: head"></header>
    <!-- HEAD -->


<body class="d-flex flex-column h-100">


    <!-- NAVBAR -->
    <header th:replace="template/plantilla :: header"></header>
    <!-- NAVBAR -->


    <!-- CONTENIDO -->
    <div class="botones" style="float:none; text-align:center; margin-top:200px;">
		<a th:href="@{/espacio/crear_espacios}" class="btn btn-primary btn-lg active" role="button">Crear Espacios</a>
    	<a th:href="@{#}" class="btn btn-primary btn-lg active" role="button">Notas Pedido</a>
    </div>
    <!-- CONTENIDO -->
    
        
    <!-- FOOTER -->
    <footer th:replace="template/plantilla :: footer"></footer>
    <!-- FOOTER -->


    <!-- BOOSTRAP CORE JS -->
    <div th:replace="template/plantilla :: scripts"></div>
    <!-- BOOSTRAP CORE JS -->
</body>
</html>