<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LISTADO DE CARRERAS</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Lista de Carreras</h1>
			
		</div>
		<a th:href=@{nuevo} class="btn btn-primary">Nueva carrera</a>
		<table class="table">
			<thead class="table-dark">
				<tr>
					<th>ID</th>
					<th>NOMBRE</th>
					<th>DEPARTAMENTO</th>
					<th>ACCION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="carrera: ${carreras}">
					<td th:text="${carrera.id}"></td>
					<td th:text="${carrera.carrera}"></td>
					<td th:text="${carrera.departamento.departamento}"></td>
					<td>
						<a th:href= "@{'eliminar'+'/'+ ${carrera.id}}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>