<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado de departamentos</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<div>
		<h3>Actualizar departamento</h3>
	</div>
	<br>
	<form action="#" th:action="@{{id}}" th:object="${departamento}" method="post">
		
		<div class="mb-3">
			<label class="form-label">Nombre del departamento</label>
			<input type="text" th:field="*{departamento}" class="form-control" placeholder="Agregar nombre del departamento">
		</div>


		<button type="submit" class="btn btn-primary">Guardar</button>

	</form>

</body>
</html>