<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado de departamentos</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1 class="text-center">Lista de Departamentos</h1>
			
		</div>
		<a th:href=@{nuevo} class="btn btn-primary">Agregar departamento</a>
		<table class="table">
			<thead class="table-dark">
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="departamento: ${departamentos}">
					<td th:text="${departamento.id}"></td>
					<td th:text="${departamento.departamento}"></td>
					<td>
						<a th:href= "@{'eliminar'+'/'+ ${departamento.id}}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>