<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>FORMULARIO</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body style="background-color: rgb(86, 101, 115);">
	<div class="container">
		<div class="row">
			<br>
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<br>
				<h1 class="text-center">Registrar docente</h1>
				<div class="card-body">
					<form action="#" th:action="@{guardar}" th:object="${profesor}"
						method="post">
						<div class="mb-3">
							<label class="form-label">Nombre: </label> <input type="text"
								th:field="*{nombre}" class="form-control"
								placeholder="Agregar nombre">
						</div>
						<br>
						<div class="mb-3">
							<label class="form-label">Apellido: </label> <input type="text"
								th:field="*{apellido}" class="form-control"
								placeholder="Agregar apellido">
						</div>
						<br>


						<button type="submit" class="btn btn-primary">Guardar</button>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>