<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!-- HEAD -->
<head th:replace="template/plantilla :: head"></head>
<link th:href="@{/css/loginCss.css}" rel="stylesheet" />
<title>UNLa - Iniciar Sesion</title>
<meta charset="utf-8" />
<!-- HEAD -->


<body>


    <!-- LOGIN -->
    <div class="wrapper fadeInDown">
        <!-- MENSAJE DE LOGOUT -->
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
            th:text="${mensaje}" class="alert alert-success" role="alert">
        </div>
        <div id="formContent">
            <h1 class="titulo">Iniciar sesión</h1>
            <div class="fadeIn first">
                <img th:src="@{/images/logoCirculo.png}"
                    style="margin-top: 10px; margin-bottom: 10px; width: 136px; height: 136px" />
            </div>
            <form th:action="@{/loginprocess}" method="post">
                <input type="text" name="username" id="username" placeholder="Usuario" />
                <input type="password" name="password" id="password" placeholder="Contraseña" />
                <input type="submit" />
            </form>
            <div th:if="${error != null}" class="alert alert-danger" role="alert">
                Error! Usuario y/o contraseña incorrecta.
            </div>
        </div>
    </div>
    <!-- LOGIN -->


</body>

</html>