body {
	background-color: rgb(86, 101, 115);
}

th {
	font-size: 20px;
	color: white;
	text-align: center;
}

td {
	font-size: 20px;
	color: white;
	text-align: center;
}

h2 {
	margin-bottom: 20px;
	text-align: center;
}

.col-4 {
	float: none;
	margin: auto;
	text-align: center;
	margin-top: 45px;
}