<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registrar Final-Pedido</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Registrar Final</h1>
			<form >
			  <div class="form-row">
			    <div class="col">
			      <input type="text" class="form-control" placeholder="Turno">
			    </div>
			    <br>
			    <div class="col">
			      <input type="text" class="form-control" placeholder="Aula">
			    </div>
			    <br>
			    <div class="col">
			      <input type="text"  class="form-control" placeholder="Cantidad de Estudiantes">
			    </div>
			    <br>
			    <div class="col">
			      <input type="text"  class="form-control" placeholder="Materia">
			    </div>
			    <br>
			    <div class="col">
			      <input type="text"  class="form-control" placeholder="Observaciones">
			    </div>
			    <br>
			    <div class="col">
			      <input type="text"  class="form-control" placeholder="Espacio asignado">
			    </div>
			    <br>
			    <div class="col">
			      <input type="text"  class="form-control" placeholder="Pendiente">
			    </div>
			    <br>
			    
			    <button type="button" class="btn btn-success">Guardar</button>
			    
			  </div>
			</form>
		</div>
	
	</div>


</body>
</html>