<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!-- HEAD -->
<header th:replace="template/plantilla :: head"></header>
<link rel="stylesheet" th:href="@{/css/tablas.css}">
<!-- HEAD -->


<body>


    <!-- NAVBAR -->
    <header th:replace="template/plantilla :: header"></header>
    <!-- NAVBAR -->


    <!-- CONTENIDO -->
    <div class="col-4">

        <h2>Perfiles</h2>

        <div class="table-responsive">
            <table class="table table-sm table-bordered table-dark">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="perfil:${perfiles}">
                        <td th:text="${perfil.tipoPerfil}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- CONTENIDO -->


    <!-- FOOTER -->
    <footer th:replace="template/plantilla :: footer"></footer>
    <!-- FOOTER -->


    <!-- BOOSTRAP CORE JS -->
    <div th:replace="template/plantilla :: scripts"></div>
    <!-- BOOSTRAP CORE JS -->


</body>

</html>