<!DOCTYPE html>
<html lang="en">


<!-- HEAD -->
<header th:replace="template/plantilla :: head"></header>
<!-- HEAD -->


<style>
body{
	background-color: rgb(86, 101, 115);
}
th{
	font-size: 30px;
	color: white;
}
td{
	font-size: 25px;
	color: white;
}
h2{
	margin-bottom: 20px;
}
.col-4{
	float:none;
	margin:auto; 
	text-align: 
	center; 
	margin-top: 45px;
}
</style>


<body>


    <!-- NAVBAR -->
    <header th:replace="template/plantilla :: header"></header>
    <!-- NAVBAR -->


    <!-- CONTENIDO -->
        <div class="col-4" >

            <h2>Perfiles</h2>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="perfil:${perfiles}">

                        <td th:text="${perfil.tipoPerfil}"></td>

                    </tr>
                </tbody>
            </table>
        </div>
    <!-- CONTENIDO -->


    <!-- FOOTER -->
    <footer th:replace="template/plantilla :: footer"></footer>
    <!-- FOOTER -->


    <!-- BOOSTRAP CORE JS -->
    <div th:replace="template/plantilla :: scripts"></div>
    <!-- BOOSTRAP CORE JS -->
    
    
</body>

</html>