<!DOCTYPE html>
<html lang="en">


<!-- HEAD -->
<header th:replace="template/plantilla :: head"></header>
<!-- HEAD -->


<body class="d-flex flex-column h-100">


    <!-- NAVBAR -->
    <header th:replace="template/plantilla :: header"></header>
    <!-- NAVBAR -->


    <!-- CONTENIDO -->
    <main layout:fragment="contenido">
        <div class="col-4" style="float:none;margin:auto; text-align: center; margin-top: 45px;">

            <h2>Perfiles</h2>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="perfil:${perfiles}">

                        <td><span th:text="${perfil.tipoPerfil}"></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <!-- CONTENIDO -->


    <!-- FOOTER -->
    <footer class="bg-light text-center text-lg-start bg-dark">
        <div class="text-center p-3">
            © 2022 Copyright:
            <a class="text-white">GRUPO-10-OO2-2022</a>
        </div>
    </footer>
    <!-- FOOTER -->


    <!-- FOOTER -->
    <footer th:replace="template/plantilla :: footer"></footer>
    <!-- FOOTER -->


    <!-- BOOSTRAP CORE JS -->
    <div th:replace="template/plantilla :: scripts"></div>
    <!-- BOOSTRAP CORE JS -->
</body>

</html>