<!DOCTYPE html>
<html lang="en">


<!-- HEAD -->
<header th:replace="template/plantilla :: head"></header>
<!-- HEAD -->


<body style="background-color: rgb(86, 101, 115);">


    <!-- NAVBAR -->
    <header th:replace="template/plantilla :: header"></header>
    <!-- NAVBAR -->


    <!-- CONTENIDO -->
    <div class="container" style="height: 100%; width: 100%;">

        <div class="row justify-content-center align-items-center" sec:authorize="isAuthenticated()"
            th:if="${#authorization.expression('hasAuthority(''administrador'')')}">

            <!-- AIGNAR ESPACIOS -->
            <div class="col-3">
                <div class="card border-primary" style="margin-top: 50px;">
                    <img class="card-img-top" th:src="@{/images/unla.jpg}" style="width: 304px; height: 187px;" />
                    <div class="card-body text-center">
                        <h4 class="card-title" style="margin: 15px 0px 20px 0px;">Asignar
                            Espacio
                        </h4>
                        <a th:href="@{/espacio/crear_espacios}" class="btn btn-success align-items-center">Asignar</a>
                    </div>
                </div>
            </div>

            <!-- VER NOTAS PEDIDO -->
            <div class="col-3">
                <div class="card border-primary" style="margin-top: 50px;">
                    <img class="card-img-top" th:src="@{/images/Edificio.jpg}" style="width: 304px; height: 187px;" />
                    <div class="card-body text-center">
                        <h4 class="card-title" style="margin: 15px 0px 20px 0px;">Notas
                            Pedidos</h4>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ver</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/notaPedido/cursadas}">Cursadas</a>
                                <a class="dropdown-item" th:href="@{/finales/index}">Finales</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center align-items-center" sec:authorize="isAuthenticated()"
            th:if="${#authorization.expression('hasAuthority(''auditoria'')')}">

            <!-- CREAR NOTA PEDIDO -->
            <div class="col-3">
                <div class="card border-primary" style="margin-top: 50px;">
                    <img class="card-img-top" th:src="@{/images/notaPedido.jpg}" style="width: 304px; height: 187px;" />
                    <div class="card-body text-center">
                        <h4 class="card-title" style="margin: 15px 0px 20px 0px;">Nota Pedido</h4>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crear</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Cursada</a> 
                                <a class="dropdown-item" th:href="@{/finales/nuevo}">Final</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- VER NOTAS PEDIDO -->
            <div class="col-3">
                <div class="card border-primary" style="margin-top: 50px;">
                    <img class="card-img-top" th:src="@{/images/Edificio.jpg}" style="width: 304px; height: 187px;" />
                    <div class="card-body text-center">
                        <h4 class="card-title" style="margin: 15px 0px 20px 0px;">Notas Pedidos</h4>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ver</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/notaPedido/cursadas}">Cursadas</a>
                                <a class="dropdown-item" th:href="@{/finales/index}">Finales</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTENIDO -->


    <!-- FOOTER -->
    <footer th:replace="template/plantilla :: footer"></footer>
    <!-- FOOTER -->


    <!-- BOOSTRAP CORE JS -->
    <div th:replace="template/plantilla :: scripts"></div>
    <!-- BOOSTRAP CORE JS -->


</body>

</html>